
body{
    background-color: #ffffff;
    background-image: url("background-image.png");
    color: #777777;
}

.bodyArea {
    background-color: whitesmoke;
    padding: 30px 30px 30px 45px;
    border-radius: 25px;
}

.smallTxt {
    font-size: 11px;
}

#unit4BottomButton{
    margin-top: 5px;
}

#hangmanBottomButton{
    margin-top: 5px;
}

#triviaBottomButton{
    margin-top: 5px;
}

#trainBottomButton{
    margin-top: 5px;
}

#gifBottomButton{
    margin-top: 5px;
}

#whatsHapnBottomButton{
    margin-top: 5px;
}

#friendFinderButton{
    margin-top: 5px;
}

#eatDaBurgerButton{
    margin-top: 5px;
}
#lagerHeadButton{
    margin-top: 5px;
}

#githubImage{
    width: 75px;
    height: 75px;
    margin-top: 5px;
}

#linkedInImage{
    width: 80px;
    height: 80px;
}

#resumeImage{
    width: 80px;
    height: 80px;
}

#icons {
    margin-left: -20px;
}

#instructions {
    margin-left: 0px;
}



